@media screen and (max-width: 480px){
  body{
  color: #464E47;
  margin: 0;
  padding: 0;
  font-family: 'Crimson Text', serif;
  }

  #dropbtn {
      background-color: transparent;
      color: #464E47;
      font-size: 30px;
      border: none;
      cursor: pointer;
  }

  #dropdown {
      padding-left: 15px;
      display: inline-block;
  }

  #dropdown-content {
      text-align: center;
      font-size: 20px;
      width: 300px;
      display: none;
      position: absolute;
      background-color: #f2f6f0;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  #dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  #dropdown-content a:hover {
    background-color: #f2f6f0;
  }

  #dropdown:hover #dropdown-content {
      display: block;
      cursor: pointer;
  }

  #Header{
    height: 50px;
    padding-top: 10px;
    background: linear-gradient(#CCFCCB, #96E6B3);
    z-index: 1;
  }

  #Header ul{
    margin: 0 auto;
    padding: 3px;
  }

  #Header li{ 
    text-decoration: none;
    display: block;
    padding: 3px;
  }

  #Noticias{
    background-color: #FFF;
    text-align: center;
    padding: 10px;
    overflow: hidden;
  }

  #Ops{
    background-color: #FFF;
    text-align: center;
    padding: 10px;
    overflow: hidden;
  }

  #Foot{
    text-align: center;
    clear: left;
    height: 30px;
    background: linear-gradient(#CCFCCB, #96E6B3);
  }

  .News{
    width: 90%;
    height: 100px;
    padding-top: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #F2FFF3;
  }

  .Opinion{
    width: 90%;
    height: 75px;
    padding-top: 10px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #F2FFF3;
  }
}
