@media screen and (min-width: 481px) and (max-width: 768px){
  body{
  color: #464E47;
  background-color: #bea2e2;
  margin: 0;
  padding: 0;
  font-family: 'Crimson Text', serif;
  }

  #dropbtn {
      background-color: transparent;
      color: #464E47;
      font-size: 30px;
      border: none;
      cursor: pointer;
  }

  #dropdown {
      padding-left: 15px;
      position: relative;
      display: inline-block;
  }

  #dropdown-content {
      text-align: center;
      font-size: 20px;
      width: 300px;
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  #dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  #dropdown-content a:hover {
    background-color: #e9ffea;
  }

  #dropdown:hover #dropdown-content {
      display: block;
      cursor: pointer;
  }

  #Header{
    height: 50px;
    padding-top: 10px;
    background: linear-gradient(#CCFCCB, #96E6B3);
  }

  #Header ul{
    margin: 0 auto;
    padding: 3px;
  }

  #Header li{
    padding: 3px;
    text-decoration: none;
    display: block;
  }

  #Noticias{
    padding: 10px;
    text-align: center;
    overflow: hidden;
    background-color: #FFF;
  }

  #Ops{
    padding: 10px;
    text-align: center;
    overflow: hidden;
    background-color: #FFF;
  }

  #Foot{
    height: 30px;
    text-align: center;
    clear: left;
    background: linear-gradient(#CCFCCB, #96E6B3);
  }

  .News{
    width: 90%;
    height: 100px;
    padding-top: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #F2FFF3;
    border-radius: 7px;
  }
  .Opinion{
    width: 90%;
    height: 100px;
    padding-top: 10px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #F2FFF3;
    border-radius: 7px;
  }

}
